
.anchor
.DS_Store
**/*.rs.bk
node_modules
test-ledger
.yarn
yarn.lock
.yarnrc.yml

target/*
!target/types
!target/idl
!target/debug/cli
deployment

.vscode

ts-client/dist
ts-client/.env

python-client/dlmm/__pycache__
python-client/dlmm/dist
python-client/dlmm/build
python-client/dlmm/.env
python-client/**/*.ini
python-client/**/*.json
python-client/**/*.spec

*.log
*.exe
*.ini

.pnpm-debug.log
*/pnpm-workspace.yaml
